<%= render 'shared/page_title', title: "#{@ingredient.name}" %>

<% if @ingredient.recipes.count != 0 %>
    <h4 align="center">
        Recipe's Containing
        <%= @ingredient.name %>
    </h4>

    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
        <ul class=”pagination”>
            <li class="disabled"> 
                <%= will_paginate(@ingredient_recipes, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
            </li>
        </ul>
    </div>

    <%= render 'recipes/recipe', obj: @ingredient_recipes %>

    <div class="col-lg-8 col-md-8 col-sm-7 col-xs-6 padding-zero">
        <ul class=”pagination”>
            <li class="disabled"> 
                <%= will_paginate(@ingredient_recipes, previous_label: "&laquo;", next_label: "&raquo;", outer_window: 1, inner_window: 0, class: "small-font" ) %>
            </li>
        </ul>
    </div>

<% else %>
    <h4 align="center">
        No recipes yet!
    </h4>
<% end %>
