<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
    <img src="https://www.visnext.com/assets/green/logo-ad952d6639a40b13cdce727dc91d3e9a73beac31ac87681319ddbb139e82bca2.svg" alt="Visnext Software Solutions Logo">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "MyRecipes", root_path, class: "navbar-brand", id: "logo" %>
        </li>
        <li class="nav-item">
          <%= link_to "Chefs", chefs_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "All Recipes", recipes_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Recipes
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Create New recipe", new_recipe_path %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Show All Recipes", recipes_path %></li>
            </ul>
          </li>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      <div class="dropdown text-end">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
              <%= current_chef.chefname.capitalize %>'s Profile <%#= "Admin" if current_chef.admin? %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <%= link_to "View your profile", chef_path(current_chef) %>
              </li>
              <li>
                <%= link_to "Edit your profile", edit_chef_path(current_chef) %>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, data: { "turbo-method": :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to "Log in", login_path %>
          </li>  
        <% end %>
      </ul>      
    </div>
  </div>
</nav>